# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# Mac
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Data (optional, if large)
*.tif
*.shp
*.dbf
*.shx
*.cpg
